@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


body {
	margin:0;
	padding:0;
	font-family: 'Roboto', serif;
}

.hero-text {
  font-family: 'ROBOTO', serif;
  width:100%;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eaeaea;
}
.hero-text h1 {
  font-size: 70px;
  letter-spacing: 10px;
  margin-bottom: 0;
}


.container {
   width: 1238px;
   margin: 0 auto;
}


.row1 {
	position: relative;
	height: 235px;
	display: inline-block;
	margin: 1px;

}

.row2 {
	position: relative;
	height: 275.5px;
	display: inline-block;
	margin: 1px;

}

.row3 {
   position: relative;
   height: 278.3px;
   display: inline-block;
   margin: 1px;

}

.row4 {
   position: relative;
   height: 304.9px;
   display: inline-block;
   margin: 1px;

}

.row5 {
   position: relative;
   height: 312.5px;
   display: inline-block;
   margin: 1px;

}


.row1 img {
	height: 100%;
	width: auto;
}

.row2 img {
	height: 100%;
	width: auto;
}

.row3 img {
   height: 100%;
   width: auto;
}

.row4 img {
   height: 100%;
   width: auto;
}

.row5 img {
   height: 100%;
   width: auto;
}


/* Side menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Navigation menu links */

.sidenav h2 {
    padding: 50px 8px 8px 25px;
    font-family: 'open sans', serif;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 3px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 0;
}

.sidenav a {
    padding: 8px 8px 8px 50px;
    font-family: 'open sans', serif;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

a.home {
  padding-left: 25px;
}

a.about {
  padding-left: 25px;
  padding-top: 50px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #c5211e;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

span {
  font-family: 'open sans', serif;
  opacity: .5;
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 25px;
  color: #fff;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
